<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Django Workshop</title>
</head>
<body>

  <nav>
    <div class="nav-wrapper green">
      <a href="#" class="brand-logo">DJ Workshop</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home HttpResponse</a></li>
        <li><a href="/about/">About HttpResponse</a></li>
        <li><a href="/book">Book template</a></li>
        <li><a href="/book/list">Book List template</a></li>
      </ul>
    </div>
  </nav>


  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
